body {
  background-color: #12c2e9;
}
.player {
  height: 600px;
  width: 450px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-225px);
          transform: translateX(-225px);
  background-color: #111;
  box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.5), 10px 10px 100px 0px rgba(0,0,0,0.4);
}
.player .image {
  position: absolute;
  left: 0px;
  top: 0px;
}
.player .image .cover {
  position: absolute;
  width: 300px;
  left: 70px;
  top: 30px;
}
.player .image .filter {
  position: absolute;
  width: 450px;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#111));
  background: linear-gradient(transparent, #111);
}
.player .description {
  position: absolute;
  color: #fff;
  font-family: Open Sans;
  top: 350px;
  left: 25px;
}
.player .description p {
  margin: 0;
  color: #666;
}
.player .description h1 {
  margin: 5px 0px 0px 0px;
}
.player .buttons {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 50px;
  top: 385px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.player .buttons .playButton,
.player .buttons .pauseButton {
  position: absolute;
  width: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.player .buttons .pauseButton {
  opacity: 0;
}
.player .buttons.active .playButton {
  opacity: 0;
}
.player .buttons.active .pauseButton {
  opacity: 1;
}
.player .time {
  position: absolute;
  color: #fff;
}
.player .time .timePlayed {
  position: absolute;
  top: 500px;
  left: 50px;
  font-family: Open Sans;
}
.player .time .timeLeft {
  position: absolute;
  top: 450px;
  left: 370px;
  font-family: Open Sans;
  color: #666;
}
.player .lines {
  position: absolute;
}
.player .lines .songLength {
  position: absolute;
  width: 350px;
  height: 1px;
  background-color: #666;
  top: 500px;
  left: 50px;
}
.player .lines .lengthLeft {
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: #fe5074;
  top: 500px;
  left: 50px;
}
.player .likeandfav {
  position: absolute;
  color: #666;
}
.player .likeandfav .fa-heart {
  position: absolute;
  top: 530px;
  left: 50px;
  font-size: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.player .likeandfav .fa-heart.active {
  color: #fe5074;
}
.player .likeandfav .fa-star {
  position: absolute;
  top: 530px;
  left: 375px;
  font-size: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.player .likeandfav .fa-star.active {
  color: #ffdf00;
}

.player .player2{
  position: absolute;
  top: 580px;
  left: 790px;
  width: 420px;
  height: auto;
}
.AutoDJ{
  margin: 0;
  color: #666;
  position: relative;
  display: block;
  top: 45%;
  left:5.5%;
}

.play-btn {
  width: 100px;
  height: 100px;
  background: #12c2e9;
  border-radius: 50%;
  border: transparent;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px #12c2e9;
  top:60%;
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}